<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manejar receta <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <a href="#">Agregar ingrediente a la lista de shopping</a>
                <a href="#">Editar receta</a>
                <a href="#">Eliminar receta</a>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Descripción
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredientes
    </div>
</div>