<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">Nueva receta</button>
    </div>
</div>
<div class="col-xs-12">
    <a href="#" class="list-group-item clearfix">
        <div class="pull-left">
            <h4 class="list-group-item-heading">Nombre de la receta</h4>
            <p class="list-group-item-text">Descripción de la receta</p>
        </div>
        <span class="pull-right">
            <img src="" alt="" class="img-responsive" syle="max-height: 50px;">
        </span>
    </a>
    <app-recipes-items></app-recipes-items>
</div>